@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "POPPINSEXTRABOLD";
    src: url("../public/Fonts/Poppins-ExtraBold.ttf");
  }

  @font-face {
    font-family: "POPPINSBOLD";
    src: url("../public/Fonts/Poppins-Bold.ttf");
  }

  @font-face {
    font-family: "POPPINSSEMIBOLD";
    src: url("../public/Fonts/Poppins-SemiBold.ttf");
  }

  @font-face {
    font-family: "POPPINSMEDIUM";
    src: url("../public/Fonts/Poppins-Medium.ttf");
  }

  @font-face {
    font-family: "POPPINSREGULAR";
    src: url("../public/Fonts/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: "POPPINSTHIN";
    src: url("../public/Fonts/Poppins-Thin.ttf");
  }



